**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env*
**/.git
**/.gitignore
**/README.md
**/coverage
**/\.nyc_output
**/dist
**/build
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/test
**/tests
**/\.eslint*
**/\.vscode
**/\.idea
**/*.log
**/dump.rdb
**/.DS_Store
**/thumbs.db
